body {
    background-color: hsl(37,39%,91%);
    font-family: Avenir, Arial, sans-serif;
}
.logo{
    width: 120px;
}

.hamburger {
    width: 50px;
    display: none;
}

.nav-container {
    width: 1200px;
    color: hsl(35, 40%, 91%);
    background-color: hsl(211,66%,14%);

    display: flex;
    align-items: center;
}

.nav-container ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}