body {
    background-color: hsl(37,39%,91%);
}
.logo{
    width: 300px;
}

.hamburger {
    width: 50px;
    display: none;
}

.container {
    width: 1200px;
    color: hsl(35, 40%, 91%);
    background-color: hsl(211,66%,14%);
}