body {
    color: hsl(196, 64%, 37%);
    background-color: hsl(40, 88%, 97%);

    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    max-width: 1200px;

    display: flex;
    justify-content: center;
}

.item {
    margin: 16px;
    color: hsl(196,64%,37%);
    background-color: hsl(195,62%,95%);
    height: 350px;
    text-align: center;

    display: flex;
    align-items: flex-end;
    flex-basis: 215px;
    flex-grow: 1;
    flex-shrink: 0;
}