body {
    color: hsl(196, 64%, 37%);
    background-color: hsl(40, 88%, 97%);
    text-align: center;
}

.container {
    display: flex;
}

.item {
    margin: 16px;
    color: hsl(196,64%,37%);
    background-color: hsl(195,62%,95%);
    display: flex;
    align-items: flex-end;
    text-align: center;
}